@model escola_dos_catioros.Models.Matricula

<h4>Tirar @Model.Catioro.Nome da turma @Model.Turma.Apelido?</h4>

<form asp-action="Desmatricular" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="TurmaId" value="@Model.TurmaId" />
    <input type="hidden" name="CatioroId" value="@Model.CatioroId" />

    <button type="submit" class="btn">sim, expulsar @Model.Catioro.Nome</button>
    @Html.ActionLink("não","View",routeValues: new { id = @Model.TurmaId}, htmlAttributes: new { @class ="btn"})
</form>
